doctype html
html
	head
		title Página no encontrada
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="error.css")
	body
		h1
			a(href="/") Regresar a página principal
		h2 Modelo de avión '#{texto}' no encontrado.
			